


.item {
    display: flex;
    /* justify-content: center; */
    width: 100%;
    margin: 20px 0;
}

.item p {
    margin: 0;
    padding: 10px;
    flex-grow: 2;
    justify-self: flex-start;
    font-size: 24px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.158);
    border-top: 2px solid rgba(0, 0, 0, 0.158);
    border-radius: 20% 0% 0% 20%;
}

.item button {
    width: 10%;
    justify-self: flex-end;
    margin-left:10px ;
    border-radius: 6%;
    border: none;
    font-size: 24px;
    color: white;
    background-color: black;
    transition: .3s;
}

.item button:hover {
    background-color: rgb(38, 121, 245);
   
}